@charset "UTF-8";
/*    ログイン画面の形を作るもの    */
#wrap {
	background-image: url(/syokuzaikanri/img/big_reizoko.png);
	background-size: cover;
	padding-left:90px;
	padding-right:210px;
	padding-top:120px;
	padding-bottom:70px;
	width: 535px;
	float: left;
	left: 45%;
	position: absolute;
    margin-top:-50px;
	margin-left: -260px;
}
/*logo*/
.logo {
	margin-bottom: 10px;
	width: 75%;
}

/*   ログイン画面のIDとパスワードの幅等の変更   */
.feedback-input {
	color:#3c3c3c;
	font-family: Helvetica, Arial, sans-serif;
    font-weight:500;
	font-size: 18px;
	border-radius: 17px;
	line-height: 26px;
	background-color: #fbfbfb;
	padding: 13px 13px 13px 54px;
	margin-bottom: 20px;
	width:146%;
	box-sizing: border-box;
}
/*  ログインボタンの大きさや色を調節  */
.sub {
	width: 40%;
	margin-left: auto;
    font-size: 15px;
    color: #fff;
	display: inline-block;
    padding: 15px 0px;
    text-align: center;
	background-color: #5c87a6;
    border: 1px solid #5c87a6;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 1s;
}
/*--ボタンhover--*/
.sub:hover {
    color: #5c87a6;
    background-color: #ffffff;
    border: 1px solid #5c87a6;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 1s;
}

#button{
	text-align: right;
}
/* id="footer" */
#foot {
  background-repeat: repeat-x;
  margin: 0;
  padding: 0px;
  font-size: smaller;
  color: #534340;
  font-weight: bold;
}