@charset "UTF-8";

/* bodyタグ */
body {
  margin: 2em 0 0 0;		/* マージンなし（後で個別に設定） */
  padding: 0 0 0 0;		/* パディングなし（後で個別に設定） */
  color: #534340;
  font-size: 16px;
  background-color: white;
  font-family: Noto Sans CJK JP;
  }

/* wrapperクラス */
.wrapper {
  margin: 0 auto 0 auto;	/* 中央揃え */
  width: 1300px;			/* 幅を固定 */
 }

  /* アウトライン*/
/*
.wrapper *{
  outline: 1px solid #ff0000;
}*/


/* 画像 */
img {
  border-style: none;		/* 枠なし */
}


/* id="nav" */
#nav {
	display: flex;/*フレックスボックス*/
	align-items: center;/*上下の中央ぞろえ*/
	justify-content: space-between;/*両端以外の空白を均等に配置*/
	height: 75px;
}

/*ハンバーガーメニューのボタンの背景*/
.ham {
	position: relative;
	width: 300px;
	height: 40px;
	cursor: pointer;  /*カーソルを上に置いた時のカーソルの形状の指定*/
	/*background-color: aqua;*/
}

/*ハンバーガーメニューの中身の横線三本*/
.ham_line {
	position: absolute;
	left: 10px;
	width: 20px;
	height: 1px;
	background-color: #333333;
    /*ハンバーガーメニューがクリックされた時の動きの時間*/
    transition: all 0.3s;
}

/*三本線の位置関係*/
.ham_line1 {
	top: 10px;
}
.ham_line2 {
	top: 18px;
}
.ham_line3 {
	top: 26px;
}

/* ハンバーガーメニューがクリックされて時に×に動く */
.clicked .ham_line1 {
	transform: rotate(45deg);
	top: 20px;
}
.clicked .ham_line2 {
	width: 0px; /*消える*/
}
.clicked .ham_line3 {
	transform: rotate(-45deg);
	top: 20px;
}

/* ハンバーがメニューの中身 */
.menu {
    position: fixed;
	width: 300px;
	height: 300px;
    left: -400px; /*押す前の位置*/
	/*background-color: aquamarine;*/
	background-color:rgba(255,255,255,0.8);
    transition: all 0.3s; /*動くスピード*/
}
.clicked .menu {
	left: 8px; /*左からどれくらい離れてるか*/
}

.item2 img{
 width: 175px;
}

.item3 {
 flex-basis:30%;
  margin-right: 3em;
  color: #534340;
  list-style-type: none;	/* 先頭の記号をなくす */
  border: solid 2px #33A6B8;
  font-weight: bold;
  border-radius: 10px;/*角の丸み*/
  text-align:center;

}

.item4{
  flex-basis:10%;
  margin-right: 3em;
  color: white;
  list-style-type: none;	/* 先頭の記号をなくす */
  border: solid 2px #33A6B8;
  background-color: #33A6B8;
  font-weight: bold;
  border-radius: 10px;/*角の丸み*/
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align:center;

}
.logout{
	text-decoration: none;
	color: white;
}


.item5{
  flex-basis:10%;
  margin-right: 3em;
  color: #534340;
  list-style-type: none;	/* 先頭の記号をなくす */
  border: solid 2px #33A6B8;
  font-weight: bold;
  border-radius: 10px;/*角の丸み*/
  text-align:center;

}


.item6 img {
	width:70px;
}


/*ここから　grid */
.grid_test {
    display: grid;
     height: 500px;      /* グリッドコンテナを作る */
    grid-template-columns:0.5fr 5fr 2fr;      /* 縦向きのグリッドラインを決める */
    grid-template-rows:20fr 30fr;         /* 横向きのグリッドラインを決める */
}
.grid_test-child {
    padding:  10px;         /* 余白指定 */
    border-radius:  5px;    /* 角丸指定 */
    margin: 5px;            /* 周りの余白指定 */
    color:  #fff;           /* 文字色指定 */
}
.grid_test-child:nth-child(1) {
    background-color:  #7b9ad0;     /* 背景色 */
    grid-column:1/2;    /* 配置指定 */
    grid-row:1/3;       /* 配置指定 */
}
.grid_test-child:nth-child(2) {
    background-color:  #c8d627;     /* 背景色 */
    grid-column:2/3;    /* 配置指定 */
    grid-row:1/3;       /* 配置指定 */
}
.grid_test-child:nth-child(3) {
	font-size: 12px;
    background-color:  #d5848b;     /* 背景色 */
    grid-column:3/4;    /* 配置指定 */
    grid-row:1/2;       /* 配置指定 */
}
.grid_test-child:nth-child(4) {
    background-color:  #51a1a2;     /* 背景色 */
    grid-column:3/4;    /* 配置指定 */
    grid-row:2/3;       /* 配置指定 */
    overflow: auto;
    position: relative;
}
/*ここまで　grid */

/*タブ切り替え全体のスタイル*/
.tabs {
	margin-top: 50px;
	padding-bottom: 40px;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	width: 96%;
	height: 92%;
	margin: 0 auto;
}

/*タブのスタイル*/
.tab_item {
	width: calc(100%/ 5);
	height: 50px;
	border-bottom: 3px solid #5ab4bd;
	background-color: #fff;
	line-height: 50px;
	font-size: 16px;
	text-align: center;
	color: #534340;
	display: block;
	float: left;
	text-align: center;
	font-weight: bold;
	transition: all 0.2s ease;
}

.tab_item:hover {
	opacity: 0.75;
}

/*ラジオボタンを全て消す*/
input[name="tab_item"] {
	display: none;
}

/*タブ切り替えの中身のスタイル*/
.tab_content {
	height: 90%;
	display: none;
	padding: 1em 1em 1em 1em;
	clear: both;
	overflow: hidden;
	color: #2b2b2b;
}

/*選択されているタブのコンテンツのみを表示*/
#all:checked ~ #all_content, #aaa:checked ~ #aaa_content,
	#bbb:checked ~ #bbb_content, #ccc:checked ~ #ccc_content,
	#ddd:checked ~ #ddd_content {
	display: block;
}

/*選択されているタブのスタイルを変える*/
.tabs input:checked+.tab_item {
	background-color: #5ab4bd;
	color: #fff;
}


/*アラート部分*/
.alertTitle {
	font-size: 14px;
	margin: 1px;
	margin:auto 10px;
	text-align:center;
	font-size:1.2em;
	font-weight: bold;
	 border: double 2px;
	 border-radius:5px;
	 border: double 4px;
	 /*color: #534340;*/
	 /*background-color: white;*/
}

.stockAlert{
  height: 100px;
  overflow-y:scroll;
}
.itemAlert{
  height: 100px;
  overflow-y:scroll;
}



/*メモ部分*/
.memotitle{
	margin:auto 10px;
	text-align:center;
	font-size:1.2em;
	font-weight: bold;
	 border: double 2px;
	 border-radius:5px;
	 border: double 4px;
}

.memoitem{
	overflow: auto;
	height: 90%;

}
.memotext{
    margin: 0.4em 0.5em;
	line-height: 2;
	background-color: mintcream;
	border-radius:5px;
}
.memocheck{
	transform: scale(2);
	margin: 0 6px 0 0;
	accent-color: #ffff4d;
    accent-color: darkorange;
}
.memobutton{
	padding:10px;
	text-align:center;
	position: absolute;
    top: 164px;
    bottom: 20px;
    right: 48px;
}

.memob{
	width: 64px;
	border-radius: 10px;
	 border: 1px solid;
}
.memob:hover {
  transform: scale(1.05);
}

.memoitem::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: mintcream;
  border-radius: 5px;
}

.memoitem::-webkit-scrollbar-thumb {
  background-color:#2f4f4f;/* スクロールバーの色変えたいかも！ */
  border-radius: 5px;
}
/* id="footer" */
#footer {
  background-repeat: repeat-x;
  margin-top: 0;
  padding: 0px;
  font-size: smaller;
  color: black;
}
