@charset "UTF-8";
/* bodyタグ */
body {
  margin: 2em 0 0 0;		/* マージンなし（後で個別に設定） */
  padding: 0 0 0 0;		/* パディングなし（後で個別に設定） */
  color: black;
  font-size: 16px;
  background-color: white;
  font-family: Noto Sans CJK JP;
  }

/* wrapperクラス */
.wrapper {
  margin: 0 auto 0 auto;	/* 中央揃え */
  width: 1300px;			/* 幅を固定 */
 }

  /* アウトライン*/
/*
.wrapper *{
  outline: 1px solid #ff0000;
}*/



/* h2タグを付けたページの見出し */
h2 {
  font-size: 18px;
  color: #534340;
  border-bottom-width: 2px;	/* 茶色でドットの下線を付ける */
  border-bottom-style: dotted;
  border-bottom-color: #534340;
  margin-top: 20px 0px 20px 0px;
  padding-top: 10px 10px 10px 10px;
}

/* 画像 */
img {
  border-style: none;		/* 枠なし */
}


/* id="nav" */
#nav {
	display: flex;/*フレックスボックス*/
	align-items: center;/*上下の中央ぞろえ*/
	justify-content: space-between;/*両端以外の空白を均等に配置*/
	height: 75px;
}

.item2 img{
 width: 175px;
}

.item3 {
 flex-basis:20%;
  margin-right: 3em;
  color: #534340;
  list-style-type: none;	/* 先頭の記号をなくす */
  border: solid 2px #33A6B8;
  font-weight: bold;
  border-radius: 10px;/*角の丸み*/

}

.item4{
  flex-basis:10%;
  margin-right: 3em;
  color: #534340;
  list-style-type: none;	/* 先頭の記号をなくす */
  border: solid 2px #33A6B8;
  font-weight: bold;
  border-radius: 10px;/*角の丸み*/

}

.item5 img {
	width:50px;
}


/*ここから　grid */
.grid_test {
    display: grid;
     height: 500px;      /* グリッドコンテナを作る */
    grid-template-columns:0.5fr 5fr 2fr;      /* 縦向きのグリッドラインを決める */
    grid-template-rows:20fr 30fr;         /* 横向きのグリッドラインを決める */
}
.grid_test-child {
    padding:  10px;         /* 余白指定 */
    border-radius:  5px;    /* 角丸指定 */
    margin: 5px;            /* 周りの余白指定 */
    color:  #fff;           /* 文字色指定 */
}
.grid_test-child:nth-child(1) {
    background-color:  #7b9ad0;     /* 背景色 */
    grid-column:1/2;    /* 配置指定 */
    grid-row:1/3;       /* 配置指定 */
}
.grid_test-child:nth-child(2) {
    background-color:  #c8d627;     /* 背景色 */
    grid-column:2/3;    /* 配置指定 */
    grid-row:1/3;       /* 配置指定 */
}
.grid_test-child:nth-child(3) {
    background-color:  #d5848b;     /* 背景色 */
    grid-column:3/4;    /* 配置指定 */
    grid-row:1/2;       /* 配置指定 */
}
.grid_test-child:nth-child(4) {
    background-color:  #51a1a2;     /* 背景色 */
    grid-column:3/4;    /* 配置指定 */
    grid-row:2/3;       /* 配置指定 */
}
/*ここまで　grid */

/*タブ切り替え全体のスタイル*/
.tabs {
	margin-top: 50px;
	padding-bottom: 40px;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	width: 96%;
	height: 92%;
	margin: 0 auto;
}

/*タブのスタイル*/
.tab_item {
	width: calc(100%/ 5);
	height: 50px;
	border-bottom: 3px solid #5ab4bd;
	background-color: #fff;
	line-height: 50px;
	font-size: 16px;
	text-align: center;
	color: #534340;
	display: block;
	float: left;
	text-align: center;
	font-weight: bold;
	transition: all 0.2s ease;
}

.tab_item:hover {
	opacity: 0.75;
}

/*ラジオボタンを全て消す*/
input[name="tab_item"] {
	display: none;
}

/*タブ切り替えの中身のスタイル*/
.tab_content {
	height: 90%;
	display: none;
	padding: 1em 1em 1em 1em;
	clear: both;
	overflow: hidden;
	color: #2b2b2b;
}

/*選択されているタブのコンテンツのみを表示*/
#all:checked ~ #all_content, #aaa:checked ~ #aaa_content,
	#bbb:checked ~ #bbb_content, #ccc:checked ~ #ccc_content,
	#ddd:checked ~ #ddd_content {
	display: block;
}

/*選択されているタブのスタイルを変える*/
.tabs input:checked+.tab_item {
	background-color: #5ab4bd;
	color: #fff;
}
/* id="footer" */
#footer {
  background-repeat: repeat-x;
  margin-top: 0;
  padding: 0px;
  font-size: smaller;
  color: black;
}

